<div class="experience-container columns">
  <h5 class="column experience-title is-offset-1 is-2 is-narrow">Experience</h5>
  <div class="job column is-8">
    <div class="company-container">
      {% for job in site.data.experience %}
        <div class="name-time-position columns">
          <div class="name-position column is-half">
            <p><a id="name" href="{{ job.link }}" target="_blank">{{ job.name }}</a> <span id="position" style="display:block"> {{ job.position }} </span></p>
          </div>
          <div class="date column is-half">
            <p>{{ job.time }}</p>
          </div>
        </div>
        {% endfor %}
    </div>
    <div class="resume">
      {% for page in site.static_files %}
        {% if page.extname == '.pdf' %}
          <a target="_blank" href="{{ page.path | relative_url }}">
            View My Resume
          </a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
