<footer id="footer" class="footer">
  <div class="columns container is-mobile">
    <div class="column is-offset-1 is-two-third">
      <p> Developed &amp Designed by <br>
        &copy {{ site.title }} 2018 </p>
    </div>
    <ul class="column columns is-one-third">
      {% for social in site.data.social %}
      <li class="column is-one-third is-narrow">
        {% if social.name == 'Email' %}
         <a href="mailto: {{ social.link }}"> {{ social.name }} </a>
         {% else %}
         <a target="_blank" href="{{ social.link }}"> {{ social.name }} </a>
         {% endif %}
       </li>
      {% endfor %}
    </ul>
  </div>
</footer>
