<section id ="header" class="particles section" style="position:relative">
  <div class="hero">
    <header class="header-container hero-body">
      <h3 class="subtitle">Hello!</h3>
      <h2 class="title">
        I'm Edward Huang, a designed-minded software engineer who loves
        to create beautiful interface and experience.
      </h2>
    </header>
    <a id="arrow-down" href="#background" class="bounce" data-scroll>
      <svg style="width:24px;height:24px" viewBox="0 0 24 24">
        <path fill="#000000" d="M11,4H13V16L18.5,10.5L19.92,11.92L12,19.84L4.08,11.92L5.5,10.5L11,16V4Z" />
      </svg>
    </a>
  </div>
</section>
