<div class="columns">
  <div class="is-offset-1 column">
    <h5 class="project-title">Project</h5>
  </div>
</div>

<div class="project-container columns">
  <div class="is-offset-1 is-1 column">
  </div>
  <div class="column is-offset-1 is-8 tile is-ancestor">
      {% assign image_files = site.static_files | where: "image", true %}
      <div class="tile is-parent is-vertical">
      {% for myimage in image_files%}
        {% if myimage.extname == '.JPG' %}
        <div class="img-container tile is-child">
          <figure class="is-square tile is-child">
            <a href="{{ myimage.link }}" target="_blank"> <img src="{{ myimage.path }}" alt="{{ myimage.basename }}"/>
              <figcaption class="img-overlay" style="background-color:{%if myimage.title == 'Portfolio'%}#{% endif %}{{ myimage.backgroundColor }}">
                <h3>{{ myimage.title }}
                  <span>___</span>
                </h3>
                <p> {{ myimage.description }}</p>
              </figcaption>
            </a>
          </figure>
        </div>
        {% endif %}
      {% endfor %}
      </div>
  </div>
</div>
