/* Color */

// Add pink and its invert
$white: #fff;
$pink: #ffb3b3;
$pink-invert: #fff;
$grey: #999;
$she: #FF847C;
$green-sea: #16a085;
$belizehole:#2980b9;

/* Typography */
// Add font
$overall-font: "Maison Neue", Helvetica Neue, Helvetica, Arial, sans-serif;

/* Animation Speed */
$speed: 2s;
