@import "custom-variable";

*{
  font-family:$overall-font;
}


/*
  Header container layout
*/
header.header-container{
  padding-top:200px;
  max-width:600px;
}

/*
  only project section did not expand viewport height
*/
section:not(#project){
  height:100vh;
}

/*
  Background
*/
#background {
  .background-title{
    h5{
      color:$grey;
    }
  }
  .background-description{
    font-size:17px;
  }
}


/*
  Experience
*/
#experience {
  .experience-title{
    color:$grey;
  }
  /*
    Change experience padding to closer to each other on the mobile version
  */
  div.experience-container {
    @media screen and (max-width: 769px){
        .name-position{
          padding-bottom:0;
        }
        .date{
          padding-top:0;
        }
    }
    .job {
      #name{
        font-weight: bold;
        color:inherit;
      }
      .date{
        font-size:14px;
      }

    }
  }

  // resume section
  .resume{
    padding-top:40px;
    font-size:20px;
    // Transition when cursor
    a {
      color:inherit;
      -webkit-transition: color 0.1s ease-out;
      transition: color 0.1s ease-out;
    }
    a:hover{
      color:$belizehole;
      text-decoration:underline;
    }
  }
}


/*
  Project
*/
#project{
  .project-title{
    color:$grey;
  }

  /*
    Image overlay
  */
  .img-container {
    position:relative;
  }

  .img-container:hover .img-overlay{
    opacity:1;
  }

  // Creating image overlay
  .img{
    display:block;
    width: 100%;
    height:auto;
  }

  .img-overlay{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    // width:100%;
    // height:100%;
    opacity:0;
    transition:.2s ease-in-out;
  }
  a{
    height:auto;
  }

  h3{
    position: absolute;
    padding-left:10px;
    padding-top: 10px;
  }
  span{
    display:block;
    text-align:left;
    padding-left:0;
  }

  p {
    position:absolute;
    bottom:5%;
    padding-left:10px;
  }



}


/*
  Footer
*/
#footer{
  font-size:17px;
  font-weight:500;
  text-transform:capitalize;

  a {
    color: $belizehole;
    -webkit-transition: text-decoration .2s ease-in-out;
    transition: text-decoration .2s ease-in-out;
  }

  a:hover{
    color: $belizehole;
    text-decoration:underline;
  }
}
