@import "custom-variable";

*{
  font-family:$overall-font;
}

/*
  set initial element to be clean when Scrolling
*/
.fade {
  opacity:0;
}

/*
  Creating bounce animation for arrow up and down
*/
.bounce {
  display:inline-block;
  position:relative;
  -moz-animation: bounce $speed infinite linear;
  -o-animation: bounce $speed infinite linear;
  -webkit-animation: bounce $speed infinite linear;
  animation: bounce $speed infinite linear;
  color:000;
}

@-webkit-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-moz-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-o-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-ms-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}

/*
  Arrow up for fixed position
  So that when scroll down it will always be on the
  bottom right
  position: set with bottom and right
*/
.arrow-up{
  width:35px;
  position:fixed;
  opacity:0;
  transition:.2s ease-in;
  bottom:2.5rem;
  right:2rem;
}



/*
  Header container layout
*/
#header {
  header {
    &.header-container{
      max-width:680px;
      padding-top:200px;
      line-height:1.2;

      .subtitle{
        letter-spacing:3px;
      }

      .title{
        font-weight:400;
        letter-spacing:2px;
      }
    }
    @media screen and (max-width: 767px){
      // decrease the size of the title of the header
      &.hero-body{
        padding:0.5rem 1.5rem;
      }
      /* title */
      h2 {
        font-size:25px;

      }

    }





  }

  #arrow-down {
    padding-left:24px;
    width:35px;

  }
}







/*
  This way, if the content is taller, the element will grow to
  avoid the overflow
*/
section{
  min-height:100vh;
}


/*
  Background
*/
#background {
  .background-title{
    h5{
      color:$grey;
    }
  }
  .background-description{
    font-size:17px;
  }



  /*
    Status word in background
  */
  .status-container{
    padding-top:40px;
  }

  #status {
    font-weight:500;
    padding-left:0;
    width:60%;
    font-size:15px;
    letter-spacing:2px;
    color:inherit;
    transition: color .2s ease-in-out;
  }

  #status:hover{
    color:$belizehole;
    text-decoration:underline;
  }
}


/*
  Experience
*/
#experience {
  .experience-title{
    color:$grey;
  }
  /*
    Change experience padding to closer to each other on the mobile version
  */
  div.experience-container {
    @media screen and (max-width: 769px){
        .name-position{
          padding-bottom:0;
        }
        .date{
          padding-top:0;
        }
    }
    .job {
      #name{
        font-weight: bold;
        color:inherit;
      }
      .date{
        font-size:14px;
      }

    }
  }

  // resume section
  .resume{
    padding-top:40px;
    font-size:15px;
    // Transition when cursor
    a {
      color:inherit;
      font-weight:500;
      -webkit-transition: color 0.1s ease-out;
      transition: color 0.1s ease-out;
      letter-spacing:2px;
    }
    a:hover{
      color:$belizehole;
      text-decoration:underline;
    }
  }
}


/*
  Project
*/
#project{
  .project-title{
    color:$grey;
  }

  /*
    Image overlay
  */
  .img-container {
    position:relative;
  }

  .img-container:hover .img-overlay{
    opacity:1;
  }

  // Creating image overlay
  .img{
    display:block;
    width: 100%;
    height:auto;
  }

  .img-overlay{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    // width:100%;
    // height:100%;
    opacity:0;
    transition:.2s ease-in-out;
  }
  a{
    height:auto;
  }
  // how text inside the image overlay
  h4{
    position: absolute;
    padding-left:10px;
    padding-top: 10px;
  }
  span{
    display:block;
    text-align:left;
    padding-left:0;
  }

  p {
    position:absolute;
    text-align:left;
    font-size:15px;
    bottom:5%;
    padding-left:10px;
  }



}


/*
  Footer
*/
#footer{
  font-size:14px;
  font-weight:500;
  text-transform:capitalize;
  letter-spacing:1px;

  a {
    color: $belizehole;
    -webkit-transition: text-decoration .2s ease-in-out;
    transition: text-decoration .2s ease-in-out;
  }

  a:hover{
    color: $belizehole;
    text-decoration:underline;
  }

}
