<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include header.html %}
    <main class="content">
      <section id="background" class="section">
        {% include background.html %}
      </section>
      <section id="experience" class="section">
        {% include experience.html %}
      </section>
      <section id="project" class="section">
        {% include project.html %}
      </section>
    </main>

    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
