<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include header.html %}
    <main class="content">
      <section class="background section">
        {% include background.html %}
      </section>
      <section id =" experience" class="experience section">
        {% include experience.html %}
      </section>
      <section class="project section">
        {% include project.html %}
      </section>
    </main>

    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
